<!DOCTYPE html>
{% extends "chat/base.html" %}
{% load static %}


{% block head_title %}ChatRoom{% endblock head_title%}


{% block content %}
<div class="main">
<div class="common_chat">
    <h2>Общий Чат</h2>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
</div>
<div class="users">
    <h2>Список пользователей</h2>
    <p>Список пользователей</p>
    <p>Список пользователей</p>
    <p>Список пользователей</p>
    <p>Список пользователей</p>
    <p>Список пользователей</p>

</div>
</div>

{% endblock content %}


{% block script %}
<script src="{%static 'js/index.js' %}"></script>
{% endblock script %}