<!DOCTYPE html>
{% extends "chat/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/room.css' %}">
{% endblock css %}
{% block head_title %}ChatRoom{% endblock head_title%}

<body>

    {% block content %}
    <div class="room">
        {{ room_name|json_script:"room-name" }}

        <div class="chat_user">
            <p>
            <h3>Чат с пользователем:</h3>
            </p>
            <p><img src="/static/img/256x256/256_1.png" alt="ava" width="150" id="ava">
            </p>
            <p>
            <h3 id="name"></h3>
            </p>
            <p>
            <h4 id="age"></h4>
            </p>
            <p id="location" style="text-decoration:underline"></p>
            <p class="self">О себе:</p>
            <p id="description"></p>
        </div>

        <div class="chat_box">
            <div class="chat">

            </div>
            <input type="text" class="message"><br>
            <button type="button" class="jbtn">Отправить</button>
        </div>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{%static 'js/room.js' %}"></script>
    {% endblock script %}

</body>